@tailwind base;
@tailwind components;
@tailwind utilities;

.lightTileColor {
	background-color: #ecdd92;
}

.darkTileColor {
	background-color: #b49860;
}

img {
	/* user-drag: none; */
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
