@tailwind base;
@tailwind components;
@tailwind utilities;

.lightTileColor {
	background-color: #ecdd92;
}

.darkTileColor {
	background-color: #b49860;
}

.center {
	@apply h-screen flex justify-center items-center;
}

body {
	background: #f0ce9b;
}

img {
	/* user-drag: none; */
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.text-chess {
	color: #8f8562;
}

.text-discord {
	color: #9071eb;
}
